div {
    /**border: 1px solid red;**/
    
}

.home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.home-top, .home-bottom {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    flex: 1;
}

.home-top-right {
    flex-direction: column;
    align-content: space-around;
    width: 30%;
}

.home-bottom-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.curated-presets {
    margin-bottom: 20px;
}

.home-bottom-right {
    width: 35%;
}

.search-actions {
    width: 60%;
}

.presets {
    display: flex;
}

.quick-actions {
    display: flex;
    flex-direction: column;
}

.home-top, .quick-actions, .recent-popular-searches, .curated-presets, .recent-analyses-and-demos, .home-bottom-right {
    border: 1px solid grey;
}