.temp {
    background-color: grey;
}
.home-top-container, .quick-actions-container, .recent-popular-searches-container, .curated-presets-container, .recent-analyses-container, .home-bttm-right-container {
    border: 1px solid rgb(218, 218, 218);
}

.quick-actions-container, .recent-popular-searches-container, .curated-presets-container, .home-bttm-right-container, .recent-analyses-container {
    padding: 10px;
}

.home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 20px;
    padding: 0 20px;
}
.home-top-container, .home-bttm-container {
    display: flex;
    flex: 1;
    gap: 20px;
}
.home-top-container {
    padding: 20px;
}

.home-top-left-container {
    flex-grow: 1;
}
.home-top-right-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 25%;
}
.quick-actions-container {
    height: 33%;
}
.recent-popular-searches-container {
    flex: 1;
}

.home-bttm-left-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.home-bttm-right-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 35%;
}
.curated-presets-container {
    height: 50%;
}
.recent-analyses-container {
    height: 50%;
}