#artist-search-bar-container {
    position: relative;
    background-color: white;
    color: black;
    width: 100%;
    height: 2.5rem;
    border-radius: 4px;
    padding: 0px 15px;
    box-shadow: 0px 0px 3px #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.suggestions-dropdown {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
    margin-top: 0px;
    padding: 0px;
}

input {
    background-color: transparent;
    color: black;
    border: none;
    height: 100%;
    width: 100%;
    font-size: 1.25rem;
}

input:focus {
    outline: none;
}

.search-icon {
    color: blue;
    font-size: x-large;
}

.artist-suggestion {
    list-style-type: none;
    color: black;
    border-bottom: 1px solid rgb(247, 247, 247);
}

.artist-search-wrapper {
    position: relative;
    width: 100%;
}