.recent-popular-search-container {
    display: flex;
    gap: 10px;
}

.rps-img {
    object-fit: cover;
    width: 20%;
    flex-shrink: 0;
    border-radius: 3px;
}

.rps-text-container {
    font-family: "IBM Plex Sans";
    align-content: center;
}
.rps-text-container h3 {
    font-size: 14px;
}
.rps-text-container h4 {
    font-size: 12px;
    font-weight: 10;
    color: #555;
}