.search-result-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 3px;
}

.sr-mid-container {
    display: flex;
    flex-direction: column;
    width: 65%;
}
.sr-mid-container p {
    margin: 0px;
}

.sr-text-container {
    display: flex;
    gap: 5px;
}

.sr-song-title {
    font-weight: 400;
}
.sr-album-title {
    font-size: 12px;
}
.sr-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;
}
.sr-artist, .sr-album, .sr-trackcount {
    font-size: 12px;
}

.search-result-image {
    width: 80px;
    height: 80px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.search-result-container button {
    max-height: 25px;
    align-self: center;
}